{{<base}}
    {{$header}}
        {{<header}}
            {{$title}}Awesome{{/title}}
        {{/header}}
    {{/header}}
    {{$content}}
        <h1>Hello - {{todos.userName}}</h1>
        <ul>
            {{#todos.todoItems}}
                <li>{{title}}</li>
                <li>{{detail}}</li>
                <li>{{assignedTo}}</li>
            {{/todos.todoItems}}
        </ul>
    {{/content}}
{{/base}}